/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 19 de jan. de 2024, 10:25:28
    Author     : Pedro
*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px;
    width: auto;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

main {
    max-width: 800px;
    margin: 20px auto;
}

.formulario-cadastro {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario-cadastro h2 {
    color: #3498db;
}

.formulario-cadastro label {
    display: block;
    margin: 10px 0;
}

.formulario-cadastro input,
.formulario-cadastro select {
    width: 100%;
    padding: 8px;
    margin: 6px 0;
    box-sizing: border-box;
}

.formulario-cadastro button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.formulario-cadastro button:hover {
    background-color: #2980b9;
}

footer {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* Estilos para botões */
.botao-neurohealth {
    background-color: #4CAF50; /* Cor de fundo */
    color: white; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno */
    border: none; /* Sem borda */
    border-radius: 5px; /* Cantos arredondados */
    cursor: pointer; /* Cursor do mouse */
}

/* Estilização para hover (quando o mouse passa sobre o botão) */
.botao-neurohealth:hover {
    background-color: #45a049;
}